<h1>Products</h1>
<table class="table">
<thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
      <th>Farmer</th>
      <th>Add to cart</th>
    </tr>
  </thead>

<tbody>
  <% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.category %></td>
    <td><%= product.price %> €</td>
    <td><%= product.farmer.email %></td>
    <td><%= link_to 'buy', product_orders_path(product), method: :post %></td>
  </tr>
  <% end %>
</tbody>
</table>
<%= link_to 'See your cart', orders_path %>
<%= link_to 'Back', root_path %>
